<h1>Eldest director</h1>

<p>
  The eldest director in our dataset right now is 
  <a href="/directors/<%= @the_eldest_director.id %>">
    <%= @the_eldest_director.first_name %> <%= @the_eldest_director.last_name %>
  </a>,
  born on <%= @the_eldest_director.dob.strftime("%B %d, %Y") %>
</p>
