<h1>List of directors</h1>

<ul>
  <% @list_of_directors.each do |a_director| %>
    <li>
      <a href="/directors/<%= a_director.id %>">
        <%= a_director.first_name %> <%= a_director.last_name %>
      </a>
    </li>
  <% end %>
</ul>

